.examFacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #8e979c36;
  padding: 20px;
  border-radius: 3px;
}

.examFacts span {
  font-weight: bolder;
}

.examPaper {
  margin: 0 auto;
}

.sectionHeading {
  display: flex;
  justify-content: space-between;
}

.descriptionText {
  color: grey;
  font-size: 0.9em;
  font-style: italic;
}

.fixSpace {
  margin-right: 5px;
}

.paperTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionWrp {
  background: #2196f312;
  margin: 20px 0px 10px;
  padding: 20px;
}

.questionWrp {
  display: flex;
  margin: 30px 0px;
}

.questionAttempted {
  flex: 0;
  border-right: 4px solid #0679da63;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.questionAttemptedWithoutFade {
  flex: 0;
  border-right: 4px solid #0679da63;
}

.questionTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.option {
  margin: 5px 0px;
}

.option label {
  width: 100%;
}

.option label:hover {
  background-color: #c7e6ff;
}

.paperHeadDetails {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  border-top: 1px solid #8080803d;
}

.paperHeadDetails .factValue {
  font-weight: bolder;
}

.timerWrapper {
  text-align: right;
  position: fixed;
  align-self: flex-end;
  background-color: #f0f3f5;
  padding: 10px;
  z-index: 2;
}
.headerRight {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.timer {
  font-weight: bold;
}

.timeoutNotice {
  font-size: 0.8em;
  font-style: italic;
}

.submitButtonWrp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.submitButton {
  padding: 20px;
}

.emptyQuestionView {
  padding: 1em;
  color: #de4747;
  text-align: center;
}

.resultNotPublishedText {
  font-size: 0.8em;
  padding-left: 1px;
  font-style: italic;
  vertical-align: bottom;
}

.studentExamBtnWrp {
  display: inline-block;
}

.studentProgressMsg {
  font-style: italic;
  font-size: 0.9em;
}

.chipWrapper {
  padding: 5px;
  padding-left: 10px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 5px;
}
