.practicContainer {
  margin-bottom: 3em;
}

.subDivisionWrp {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  color: aliceblue;
  background: #20a8d8;
  position: relative;
}

.subdivisionRow {
  padding: 0 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 8px 0 0;
}

.practiceQuestionRow {
  padding: 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}

.practiceQuestionRow .practiceBtnWrp {
  display: flex;
  justify-content: flex-end;
}

.zeroPracticeSetMessageWrp {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.practiceQuestionWrp {
  padding: 20px;
}

.reportQuestion {
  text-align: right;
  padding: 0.5em;
  font-size: 0.9em;
  color: #ea4848;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-top: -1.5rem;
}

.factsWrp {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.checkAnswerBtnWrp {
  display: flex;
  justify-content: flex-end;
}

.prevNextBtnWrp {
  display: flex;
  margin-top: 5em;
  justify-content: space-between;
}

.center-asdf {
  margin: 0 auto;
}

.makeSide {
  transition: all 1s linear;
  transform: translateX(-0.4%);
  transition-timing-function: ease-in-out;
}

.explanationWrp {
  margin-top: 2.5em;
}

.sessionCompleteWrp {
  display: flex;
  justify-content: space-between;
}

.sessionRestartBtnWrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answerCheck {
  padding-left: 2em;
}

.answerCheck.correct {
  color: green;
}

.answerCheck.wrong {
  color: #ea4848;
}

.practiceQuestionOption {
  margin: 5px 0px;
  display: inline !important;
}
