.advance-checkbox {
  display: 'flex';
  justify-content: 'flex-end';
}

.editor .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.editor .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.editor .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.editor .ql-editor {
  resize: vertical;
  min-height: 10em;
  width: 100%;
  height: 10em;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
