$horizontal-padding: 8px;

// .questions-container {
//   .question {
//     border: none;
//   }
// }

.question {
  position: relative;
  padding: 8px $horizontal-padding 0px;
  transition: background-color 1s;
  background-color: white;
  border: 1px solid #c8ced3;

  &.invalid {
    box-shadow: inset 0px 0px 1px 2px #f86c6b;
  }

  .title,
  .option {
    display: inline-block;

    & * {
      margin-bottom: 0;
    }
  }

  .actions-container {
    display: none;
    position: absolute;
    top: 50%;
    right: $horizontal-padding;
    transform: translateY(-50%);

    button {
      margin-left: 4px;
    }
  }

  &:hover {
    background-color: #f0f3f5;

    .actions-container {
      display: block;
    }
  }
}
