.register-form {
  .react-datepicker-wrapper {
    flex: 1 1 auto;
  }

  .react-datepicker__input-container {
    display: block;
  }

  .date-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
