.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
  flex-direction: column;
  background: url('./../../assets/images/404bg.png') no-repeat;
  background-size: 50%;
  background-position: right center;
  color: #2f353a;
  padding-left: 10%;
}
.overlay {
  background-color: #2f353a;
  opacity: 0.8;
}
.httpStatus {
  font-size: 6rem;
}

.statusText {
  padding-bottom: 15px;
  padding-top: 15px;
  /* text-align: center; */
}
