.deleteButton {
  font-weight: bold;
  color: #e61111;
  font-size: 1.2em;
}

.addMoreButton {
  display: flex;
  justify-content: center;
}

.sectionAdd {
  padding: 20px;
  outline: 1px dashed #13121273;
}

.saveButton {
  padding: 25px;
}

.optionsWrp {
  padding: 10px 16px;
}

.options {
  padding-right: 15px;
}

.questionTitleWrp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
