.row-profile-avatar{
  justify-content: center;
  padding-bottom: 20px;
}

.profile-avatar-wrapper{
  width: 100px;
  height: 100px;
}

.profile-avatar-img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
