.inline-block-div {
  display: inline-block;
}

.question-counter-span::after {
  content: '.';
}

$table-border: 1px solid #c8ced3;

.practice-question-table {
  .rt-thead {
    .rt-tr {
      border-bottom: $table-border;
    }

    .rt-th:not(:last-child) {
      border-right: $table-border;
    }
  }

  .rt-tbody {
    .rt-tr-group:not(:last-child) {
      border-bottom: $table-border;
    }

    .rt-td:not(:last-child) {
      border-right: $table-border;
    }
  }
}
