// Styles
// CoreUI Icons Set
@import '~@coreui/icons/css/coreui-icons.css';
// Import Font Awesome Icons Set
@import '~font-awesome/css/font-awesome.min.css';
// Import Simple Line Icons Set
@import '~simple-line-icons/css/simple-line-icons.css';
// Import Main styles for this application
@import './scss/style.scss';

.authLayoutContent {
  .exam-top-scores {
    .examFact {
      display: block;
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    padding: 0 4px !important;

    .smallCardBody {
      padding: 2px;
    }

    .practiceQuestionWrp {
      padding: 10px 4px 10px 8px;
    }

    .examFact {
      display: block;
      width: 100%;
    }

    .examPaper {
      .examPaperBody {
        padding: 0px 4px 8px;
      }

      .sectionWrp {
        padding: 8px 4px;

        .questions {
          padding-left: 18px;
        }
      }
    }

    .timerWrapper {
      text-align: left;
    }

    .submitButtonWrp {
      justify-content: flex-start;
    }

    .resultNotPublishedText {
      display: block;
    }

    .studentExamBtnWrp {
      display: block;
    }

    .paperHeadDetails {
      display: block;
    }

    .examPaperFact {
      display: block !important;
    }
  }
}

.no-child-paragraph-margin {
  p {
    margin: initial;
  }
}
