.lh-30 {
  line-height: 30px;
}

.link-to-entrance-cart {
  text-align: center;
}
.logo {
  /* height: 39px; */
  margin: 0 auto;
  text-align: center;
}
.group-box {
  display: inline-block;
  text-align: left;
}
.entrance-cart {
  color: #e20a16;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
}

.absolute-color {
  color: #000000;
  display: inline-block;
}

.supported-by-name {
  color: rgba(51, 51, 51, 0.8);
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  line-height: 15px;
}
